* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding: 10px 286px;
    margin: auto;
}
#a {
    background-color: #851e3e;
    padding: 20px 0;
    text-align: center;
}
h1 {
    font-size: 50px;
    color: white;
    font-weight: 500;
}